## OAuth2 Proxy Config File for GitHub OAuth2
## https://github.com/oauth2-proxy/oauth2-proxy

https_address = "0.0.0.0:4443"
tls_cert_file = "/home/ubuntu/oauth2-proxy-7.2.0/sso.labo.local.crt"
tls_key_file = "/home/ubuntu/oauth2-proxy-7.2.0/sso.labo.local.key"
redirect_url = "https://sso.labo.local:4443/oauth2/callback"

logging_filename = "/home/ubuntu/oauth2-proxy-7.2.0/oauth2-proxy.log"
logging_local_time = true
standard_logging = true
standard_logging_format = "[{{.Timestamp}}] [{{.File}}] {{.Message}}"
auth_logging = true
auth_logging_format = "{{.Client}} - {{.Username}} [{{.Timestamp}}] [{{.Status}}] {{.Message}}"

provider="github"
email_domains = ["*"]
whitelist_domains = [ "ingress.k8s1.labo.local" ]

client_id = "751e55bdb6299254a315"
client_secret = "6af3c2359973e42a5e95e28c2e97646c775936e1"

ssl_insecure_skip_verify = false

cookie_name = "_oauth2_proxy"
cookie_secret = "ZGRLMXFNTi9wSTNmdjE2bHNldFNhZz09"
cookie_secure = false
cookie_domains = ".labo.local"
cookie_expire = "1m"
cookie_refresh = "0m"
cookie_httponly = true
